@{
    <div class="d-flex flex-column align-items-start border-end pе-1 w-30 ms-2">
        <a asp-controller="Friends" asp-action="MyFriends" class="btn btn-link mb-3 text-start">Мои друзья</a>
        <a asp-controller="Friends" asp-action="FriendRequests" class="btn btn-link mb-3 text-start">Заявки в друзья</a>
        <a asp-controller="Friends" asp-action="FriendsSearch" class="btn btn-link mb-3 text-start">Поиск</a>
    </div>
}