@{
    <div class="d-flex flex-column align-items-start border-end pе-1 w-30 ms-2">
        <a asp-controller="Friends" asp-action="MyFriends" class="btn btn-link mb-3 text-start">Мои друзья</a>
        <a asp-controller="Friends" asp-action="FriendsInRequests" class="btn btn-link mb-3 text-start">Полученные запросы</a>
        <a asp-controller="Friends" asp-action="FriendsOutRequests" class="btn btn-link mb-3 text-start">Отправленные запросы</a>
        <a asp-controller="Friends" asp-action="FriendsSearch" class="btn btn-link mb-3 text-start">Поиск</a>
    </div>
}