@{
    <div class="d-flex flex-column align-items-start border-end pе-1 w-30 ms-2">
        <a asp-controller="Groups" asp-action="CreateGroup" class="btn btn-link mb-3 text-start">Создать группу</a>
        <a asp-controller="Groups" asp-action="MyGroups" class="btn btn-link mb-3 text-start">Мои группы</a>
        <a asp-controller="Groups" asp-action="OutRequests" class="btn btn-link mb-3 text-start">Исходящие заявки</a>
        <a asp-controller="Groups" asp-action="SearchGroups" class="btn btn-link mb-3 text-start">Поиск</a>
    </div>
}
