@{
    var currentGroupName = Context.Request.Query["groupName"];
}

<form asp-action="SearchGroups" asp-controller="Groups" method="get" class="d-flex mb-3">
    <input type="text" name="groupName" class="form-control me-2"
           placeholder="Введите название группы" value="@currentGroupName" />
    <button type="submit" class="btn btn-outline-primary">🔍 Найти</button>
</form>
