@{
    <div class="d-flex flex-column align-items-start border-end pе-1 w-30 ms-2">
        <a asp-controller="Shelves" asp-action="MyShelves" class="btn btn-link mb-3 text-start">Мои полки</a>
        <a asp-controller="Shelves" asp-action="AvailableFromFriends" class="btn btn-link mb-3 text-start">Поделились друзья</a>
        <a asp-controller="Shelves" asp-action="AvailableFromGroups" class="btn btn-link mb-3 text-start">Доступные из групп</a>
        <a asp-controller="Shelves" asp-action="Search" class="btn btn-link mb-3 text-start">Поиск</a>
    </div>
}
