@model TextShare.Domain.Models.EntityModels.ShelfModels.ShelfCreateModel

@{
    ViewData["Title"] = "Редактировать полку";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="EditShelf" asp-controller="Shelves" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Название</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Описание</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Обложка полки</label>
        <input type="file" name="AvatarFile" class="form-control" accept="image/*" />
    </div>

    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
