
@{
    
    @model AvailableShelvesModel<User, IPagedList<Shelf>>
    IPagedList<Shelf> shelves = Model.AvailableShelves;
}

<div class="d-flex align-items-start">
    <!-- Ссылки слева -->
    <div class="w-20 ms-0 ps-2">
        <partial name="_ShelvesLinksPartial" />
    </div>

    <!-- Полки справа -->
    <div class="w-80 ms-5">
        <h2>Мои полки</h2>

        @if (shelves.TotalItemCount > 0)
        {
            await Html.RenderPartialAsync("_ShelvesListPartial", Model);
            @Html.PagedListPager(
                shelves,
                page => Url.Action("MyShelves", new { page }),
                PagedListRenderOptions.OnlyShowFivePagesAtATime
                )
        }
        else
        {
            <p>У вас пока нет полок</p>
        }
    </div>
</div>
