@using TextShare.Domain.Models.EntityModels.TextFileModels
@using X.PagedList.Mvc.Core
@using X.PagedList

@model IPagedList<TextFileDetailShortModel>

<div class="row">
    <!-- Ссылки слева -->
    <div class="col-12 col-md-3 border-end p-3">
        <partial name="_GroupDetailLinksPartial" model="@ViewBag.GroupDetailModel" />
    </div>

    <!-- Файлы справа -->
    <div class="col-12 col-md-9 p-3">
        <h2>Файлы, доступные группе "@ViewBag.GroupDetailModel.Name"</h2>

        <partial name="_TextFilesListPartial" model="Model.ToList()" />

        @if (Model.TotalItemCount > 0)
        {
            @Html.PagedListPager(
                     Model,
                     page => Url.Action("AvailableFiles", new { page }),
                     PagedListRenderOptions.OnlyShowFivePagesAtATime
                     )
        }
    </div>
</div>
