@using TextShare.Domain.Models.EntityModels.ShelfModels
@using X.PagedList.Mvc.Core
@using X.PagedList

@model IPagedList<ShelfDetailShort>

<div class="d-flex align-items-start">
    <!-- Ссылки слева -->
    <div class="w-20 ms-0 ps-2">
        <partial name="_GroupDetailLinksPartial" model="@ViewBag.GroupDetailModel" />
    </div>

    <!-- Полки справа -->
    <div class="w-80 ms-5">
        <h2>Полки, доступные группе "@ViewBag.GroupDetailModel.Name"</h2>

        <partial name="_ShelvesListPartial" model="Model.ToList()" />

        @if (Model.TotalItemCount > 0)
        {
            @Html.PagedListPager(
                     Model,
                     page => Url.Action("AvailableShelves", new { page }),
                     PagedListRenderOptions.OnlyShowFivePagesAtATime
                     )
        }
    </div>
</div>
