@using TextShare.Domain.Models.EntityModels.ShelfModels
@using X.PagedList.Mvc.Core
@using X.PagedList

@model IPagedList<ShelfDetailShort>

<div class="row">
    <!-- Ссылки слева -->
    <div class="col-12 col-md-3 border-end p-3">
        <partial name="_GroupDetailLinksPartial" model="@ViewBag.GroupDetailModel" />
    </div>

    <!-- Полки справа -->
    <div class="col-12 col-md-9 p-3">
        <h2>Полки, доступные группе "@ViewBag.GroupDetailModel.Name"</h2>

        <partial name="_ShelvesListPartial" model="Model.ToList()" />

        @if (Model.TotalItemCount > 0)
        {
            @Html.PagedListPager(
                     Model,
                     page => Url.Action("AvailableShelves", new { page }),
                     PagedListRenderOptions.OnlyShowFivePagesAtATime
                     )
        }

    </div>
</div>
