@using TextShare.Domain.Models.EntityModels.GroupModels

@{
    @model IPagedList<GroupDetailModel>
    string Title = "Отправленные заявки в группы";
    ViewData["Title"] = Title;
}

<div class="row">
    <!-- Ссылки слева -->
    <div class="col-12 col-md-2">
        <partial name="_GroupsLinksPartial" />
    </div>

    <!-- Результат справа -->
    <div class="col-12 col-md-8 offset-md-1">
        <div class="rounded p-3">
            <h2>@Title</h2>

            @if (Model.Any())
            {
                await Html.RenderPartialAsync("_GroupsListPartial", Model.ToList());
                @Html.PagedListPager(
                         Model,
                         page => Url.Action("OutRequests", new { page }),
                         PagedListRenderOptions.OnlyShowFivePagesAtATime
                         )
            }
            else
            {
                <p>
                    Нет отправленных заявок
                </p>
            }
        </div>
    </div>
</div>
