@using TextShare.Domain.Entities.Groups
@using TextShare.Domain.Models.EntityModels.GroupModels
@using X.PagedList.Mvc.Core
@using X.PagedList

@model IPagedList<GroupDetailModel>

@{
    ViewData["Title"] = "Результаты поиска групп";
}

<div class="d-flex align-items-start">
    <!-- Ссылки слева -->
    <div class="w-20 ms-0 ps-2">
        <partial name="_GroupsLinksPartial" />
    </div>

    <!-- Результаты поиска справа -->
    <div class="w-50 rounded p-3 overflow-auto ms-3">
        <h2>@ViewData["Title"]</h2>

        <!-- Форма поиска -->
        <partial name="_SearchGroupFormPartial" />

        @if (Model.Any())
        {
            await Html.RenderPartialAsync("_GroupsListPartial", Model.ToList());

            @Html.PagedListPager(
                     Model,
                     page => Url.Action("SearchGroups", new { groupName = Context.Request.Query["groupName"], page }),
                     PagedListRenderOptions.OnlyShowFivePagesAtATime
                     )
        }
        else
        {
            <p>Ничего не найдено.</p>
        }
    </div>
</div>
