@using TextShare.Domain.Models.EntityModels.FriendsModels
@model IPagedList<FriendshipSatusModel>

@{
    string Title = "Поиск людей";
    ViewData["Title"] = Title;
    
}

<div class="d-flex align-items-start">
    <!-- Ссылки слева -->
    <div class="w-40 align-content-lg-start ms-0 ps-2">
        <partial name="_FriendsLinksPartial" />
    </div>

    <!-- Основной контент -->
    <div class="w-75 ms-5">
        <h2>@Title</h2>

        <!-- Контейнер для формы и результатов -->
        <div class="d-flex justify-content-between align-items-start">
            <!-- Форма поиска -->
            <div class="w-50">
                <form method="get" asp-controller="Friends" asp-action="FriendsSearch" class="mb-3">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Введите имя пользователя">
                        <button type="submit" class="btn btn-outline-primary">🔍 Найти</button>
                    </div>
                </form>
                @if (Model.Any())
                {
                    @Html.PagedListPager(
                                      Model,
                                      page => Url.Action("FriendsSearch", new { search = Context.Request.Query["search"], page }),
                                      PagedListRenderOptions.OnlyShowFivePagesAtATime
                                      )
                }
            </div>

            <!-- Результаты поиска -->
            <div class="w-75 border rounded p-3 overflow-auto ms-3" style="max-height: 400px;">
                @if (Model.Any())
                {
                    <h5>Результаты поиска:</h5>
                    await Html.RenderPartialAsync("_FriendsListPartial", Model.ToList());
                }
                else if (!string.IsNullOrEmpty(Context.Request.Query["search"]))
                {
                    <p >Пользователи не найден. Попробуйте изменить условия поиска</p>
                }
            </div>
        </div>
    </div>
</div>
