@using TextShare.Domain.Models.EntityModels.FriendsModels

@{
    @model IPagedList<FriendshipSatusModel>

    string Title = "Мои Друзья";
    ViewData["Title"] = Title;
}

<div class="row">
    <!-- Ссылки слева -->
    <div class="col-12 col-md-2 mb-3">
        <partial name="_FriendsLinksPartial" />
    </div>

    <!-- Результат справа -->
    <div class="col-12 col-md-9 border rounded p-3">
        <h2>@Title</h2>

        @if (Model.Any())
        {
            await Html.RenderPartialAsync("_FriendsListPartial", Model.ToList());
            @Html.PagedListPager(
                     Model,
                     page => Url.Action("MyFriends", new { page }),
                     PagedListRenderOptions.OnlyShowFivePagesAtATime
                     )
        }
        else
        {
            <p>
                У вас пока нет друзей, но вы можете поискать их
                <a asp-controller="Friends" asp-action="FriendsSearch" class="btn btn-link text-start">
                    здесь
                </a>
            </p>
        }
    </div>
</div>
