@using TextShare.Domain.Models.EntityModels.FriendsModels

@{
    @model IPagedList<FriendshipSatusModel>

    string Title = " Мои Друзья";
    ViewData["Title"] = Title;

}

<div class="d-flex align-items-start">
    <!-- Ссылки слева -->
    <div class="w-20 ms-0 ps-2">
        <partial name="_FriendsLinksPartial" />
    </div>

    <!-- результат справа -->
    <div class="w-50 border rounded p-3 overflow-auto ms-3">
        <h2>@Title</h2>

        @if(Model.Any())
        {
            await Html.RenderPartialAsync("_FriendsListPartial", Model.ToList());
            @Html.PagedListPager(
                     Model,
                     page => Url.Action("MyFriends", new {  page }),
                     PagedListRenderOptions.OnlyShowFivePagesAtATime
                     )

        }
        else
        {
            <p>У вас пока нет друзей, но мы можете поискать их
                <a asp-controller="Friends" asp-action="FriendsSearch" class="btn btn-link align-center text-start">
                    здесь
                </a>

            </p>
            

        }

    </div>
</div>
